<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis TransactionDao mapper configuration -->
<mapper namespace="com.mservicetech.campsite.mapper.CampsiteMapper">

    <!-- mapping between table columns and object fields -->
    <resultMap id="clientResult" type="com.mservicetech.campsite.model.Client">
        <result property="id" column="id"/>
        <result property="name" column="full_name"/>
        <result property="email" column="email"/>
    </resultMap>

    <resultMap id="reservationResult" type="com.mservicetech.campsite.model.Reservation">
        <result property="id" column="id"/>
        <result property="arrival" column="arrival_date"/>
        <result property="departure" column="departure_date"/>
        <association property="client" javaType="com.mservicetech.campsite.model.Client">
            <result property="id" column="client_id"></result>
            <result property="name" column="full_name"></result>
            <result property="email" column="email"></result>
        </association>
    </resultMap>


    <select id="findReserved" resultType="java.time.LocalDate" fetchSize="256" flushCache="false" useCache="true" timeout="60000" statementType="PREPARED" resultSetType="FORWARD_ONLY">
        SELECT reserved_date FROM reserved
    </select>

    <insert id="insertClient" parameterType="com.mservicetech.campsite.model.Client" flushCache="true" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO client(full_name, email )
        VALUES (#{name}, #{email})
    </insert>

    <select id="getClientByEmail" resultMap="clientResult" flushCache="false" useCache="true" statementType="PREPARED" resultSetType="FORWARD_ONLY">
        SELECT id, full_name, email FROM client WHERE email=#{email}
    </select>


</mapper>